section.recent-posts {
  margin-bottom: 0;
}


.section-title h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 27px;
}

.section-title span {
  border-bottom: 1px solid rgba(0, 0, 0, 0.44);
  display: inline-block;
  padding-bottom: 20px;
  margin-bottom: -1px;
}

.listrecent .card-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.listrecent span.card-text {
  color: rgba(0, 0, 0, 0.44);
  font-size: 0.95rem;
  line-height: 1.6;
  font-weight: 400;
}