.mainheading {
  padding: 1rem 0rem;
}

.mainheading h1.sitetitle {
  font-family: Righteous;
}

.mainheading h1.posttitle {
  font-weight: 700;
  margin-bottom: 1rem;
}

.link-dark {
  color: rgba(0, 0, 0, 0.8);
}


.svgIcon {
  vertical-align: middle;
}


@media (max-width: 999px) {
  .featured-box-img-cover {
    height: 359px;
  }

  #comments {
    margin-right: 15px;
  }
  
  .footer {
    margin-top: 30px;
    margin-bottom: 0px;
  }
}

@media (max-width: 1024px) {
  .post-top-meta .col-md-10 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .post-top-meta.authorpage {
    text-align: center;
  }
}

.graybg {
  background-color: #fafafa;
  padding: 40px 0 46px;
  position: relative;
}

.card-body {
  padding: 10px 20px;
}

.round-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
  color: var(--primary-color);
  background: white;
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
}

.listrelated .card {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
  border: 0;
}

ul.tags {
  list-style: none;
  padding-left: 0;
  margin: 0 0 3rem 0;
}

ul.tags li {
  display: inline-block;
  font-size: 0.9rem;
}

ul.tags li a {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  padding: 5px 10px;
}

ul.tags li a:hover {
  background: rgba(0, 0, 0, 0.07);
  text-decoration: none;
}

#comments {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}



img {
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

.transpdark {
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
}

.flex-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

@media (min-width: 768px) {
  .flex-md-unordered {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .flex-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}


.card .img-fluid {
  width: 100%;
}

.cv-logo {
  height: 5rem;
  width: 5rem;
  object-fit: contain;
}