---
import { getCollection } from 'astro:content';
import Container from '@components/layout/Container.astro';
import PostList from '@components/blog/PostList.astro';
import BaseLayout from '@layouts/BaseLayout.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---
<BaseLayout
	title="Blog"
>
	<Container>
		<section>
			<header>
				<h1>Blog</h1>
			</header>
			<PostList
				posts={posts.sort(
					(a, b) =>
						new Date(b.data.pubDate).getTime() -
						new Date(a.data.pubDate).getTime(),
				)}
			/>
		</section>
	</Container>
</BaseLayout>
