<div class="share sticky-top sticky-top-offset">
  <ul>
    <li class="ml-1 mr-1">
      <a
        target="_blank"
        href="https://bsky.app/intent/compose?text={{ .Title }}%20{{ .Permalink }}"
        onclick="window.open(this.href, 'bluesky-share', 'width=550,height=435');return false;"
        title="Share on Bluesky"
      >
        <i class="fab fa-bluesky"></i>
      </a>
    </li>

    <li class="ml-1 mr-1">
      <a
        target="_blank"
        href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink }}"
        onclick="window.open(this.href, 'linkedin-share', 'width=550,height=435');return false;"
        title="Share on LinkedIn"
      >
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>

    {{ if .Params.comments }}
      <li>
        <a class="small smoothscroll" href="#comments" title="Write a comment">
          <i class="fas fa-comment"></i>
        </a>
      </li>
    {{ end }}
  </ul>
</div>
