{{ define "header"}} {{- partial "_shared/navbar.html" . -}} {{ end }} {{ define
"main" }}
<div class="main-content">
  <!-- Posts Index
        ================================================== -->
  <section class="recent-posts">

    {{ if eq .Section "tags" }}
    <div class="section-title">
      <h2><span>Pages tagged "{{ .Title }}"</span></h2>
    </div>
    {{ end}}
    <div class="listrecent">
      {{ $post_paginator := .Paginate (.Pages) 20 }} {{ range
      $post_paginator.Pages }} {{- partial "list-partials/postbox.html" . -}}
      {{end}}
    </div>
  </section>
  {{- partial "list-partials/pagination.html" $post_paginator -}}
</div>
{{ end }} {{ define "footer"}} {{-
partial "_shared/jumbotron.html" . -}} {{- partial "_shared/footer.html" . -}}
{{ end }}