<!-- Categories Jumbotron
================================================== -->
<div class="jumbotron fortags">
	<div class="d-md-flex justify-content-center h-100">
		<div class="col-md-8 p-2 align-self-center text-center">
			{{ range first 20 (sort .Site.Taxonomies.tags "Count" "desc") }}
				<a class="mt-1 mb-1 flex align-items-center" href="{{ "/tags/" | relLangURL }}{{ .Page.Title | urlize }}">
					{{ .Page.Title }} <span class="round-badge">{{ .Count }}</span>
				</a>
			{{ end }}
			{{ if gt (len .Site.Taxonomies.tags) 20 }}
				<a class="mt-1 mb-1 plain" href="{{ "/tags/" | relLangURL }}">
					See All
				</a>
			{{ end }}
		</div>
	</div>
</div>
