---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@import

    "skins/{{ site.text_skin | default: site.data.variables.default.text_skin }}",
    // "skins/chocolate",
    // "skins/dark",
    // "skins/default",
    // "skins/forest",
    // "skins/ocean",
    // "skins/orange",

    "skins/highlight/{{ site.highlight_theme | default: site.data.variables.default.highlight_theme }}",
    // "skins/highlight/tomorrow",
    // "skins/highlight/tomorrow-night",
    // "skins/highlight/tomorrow-night-eighties",
    // "skins/highlight/tomorrow-night-blue",
    // "skins/highlight/tomorrow-night-bright",


    "common/variables",
    "common/function",
    "common/classes",
    "common/reset",
    "common/components/button",
    "common/components/image",
    "common/components/card",
    "common/components/hero",
    "common/components/menu",
    "common/components/toc",
    "common/components/item",

    "animate/fade-in",
    "animate/fade-in-down",
    "animate/fade-in-up",

    "components/article-info",
    "components/article-header",
    "components/article-content",
    "components/article-list",
    "components/author-links",
    "components/author-profile",
    "components/header",
    "components/footer",
    "components/main",
    "components/tags",
    "components/search",

    "additional/alert",
    "additional/tag",
    "additional/photo-frame",

    "layout/base",
    "layout/page",

    "layout/article",
    "layout/articles",
    "layout/archive",
    "layout/home",
    "layout/landing",
    "layout/404"
;


@import "/assets/css/circle.css";

@font-face {
    font-family:"architex";
    src: url("../architex.ttf");
}

.notfound-lg{
    font-family:"architex";
    font-size: 4rem;
}

.notfound-sm{
    font-family:"architex";
    font-size: 2rem;
}

@include media-breakpoint-down(md) {
    .notfound-lg{
        font-family:"architex";
        font-size: 2.5rem;
    }

    .notfound-sm{
        font-family:"architex";
        font-size: 1.5rem;
    }
}

.cell.img {
    background-color:#555555;
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    right:0;
    left:0;
}

.my-photo {
    display:inline-block;
    -webkit-transition:transform 0.8s ease 0s;
    transition:transform 0.8s ease 0s
}
.my-photo:hover{transform:rotate(360deg)}

.my-photo img {
    display:block;
    box-sizing:border-box;
    height:12rem;
    width:12rem;
    border-radius:7rem;
    border-style:solid;
    border-width:5px;
    border-color:rgba(50,50,50,0.5)
}

.my-photo-fixed img {
    display:inline-block;
    box-sizing:border-box;
    height:14rem;
    width:14rem;
    border-radius:7rem;
}

table {
    border-collapse: collapse;
}

.bordered-table table, th, td {
    border: 1px solid grey;
}

.bordered-table th, td {
    padding: 1rem;
}

.cell_img {
    display:table-cell;
    vertical-align:middle;
}

#languages {
    display:table;
}

#languages div {
    display:table-cell;
    vertical-align:middle;
    height:20px;
}

#languages div img {
    max-height:150px;
    max-width: 150px;
}