<!-- begin post -->
<div class="row no-gutters">
    <div class="col-md-3 text-md-right d-none d-md-block">
        <div class="card-body">
        {{ dateFormat "Jan 2, 2006" .PublishDate }}    
        </div>
    </div>
    <div class="col-12 col-md-9">
        <div class="card-body">
            <span class="d-block d-md-none">{{ dateFormat "Jan 2, 2006" .PublishDate }}</span>
            <span class="h5 card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        </div>
    </div>
</div>
<!-- end post -->