<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.11.0/devicon.min.css" />

<h3>Experience</h3>

<div class="listrecent">
  {{ range .Site.Data.jobs.entry }}
  <div class="mb-30px card-group no-gutters">
    <div class="card px-3">
      <div class="row my-4 no-gutters">
        <div class="col-12 col-md-3">
          <img src="{{ .logo }}" class="img-fluid" alt="{{ .company }}" title="{{ .company }}" />
          <br />{{ .place }} <br /><i>{{ .startdate }} - {{ if isset . "enddate" }} {{ .enddate }} {{
            else }} Ongoing {{ end }}</i>
        </div>

        <div class="col-12 col-md-9">
          <div class="card-body">{{ .description | markdownify }}</div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</div>

<h3>Education</h3>

<div class="listrecent">
  <div class="mb-30px card-group no-gutters">
    <div class="card px-3">
      <div class="row my-4 no-gutters">
        <div class="col-12 col-md-3">
          <img src="/images/work/poli.webp" class="img-fluid" alt="Politecnico di Milano"
            title="Politecnico di Milano" />
          Milan, Italy<br />
          <i>Oct. 2013 - Jul. 2016</i><br />
          <i>Sep. 2016 - Oct. 2019</i>
        </div>

        <div class="col-12 col-md-9">
          <div class="card-body">
            Graduated cum laude in October 2019, with a thesis titled
            "BlastFunction: an FPGA-as-a-Service system for accelerated
            serverless computing". During my time here, I learned about advanced
            CS and Engineering concepts, such as computer architecture design,
            distributed and parallel systems, artificial intelligence etc...
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3>Languages</h3>

<div class="container mb-4">
  <div class="d-flex flex-row align-items-center justify-content-center gap-4 flex-wrap">
    <img src="/images/languages/csharp.svg" alt="Typescript" title="Typescript" class="cv-logo" />
    <img src="/images/languages/cpp.svg" alt="Typescript" title="Typescript" class="cv-logo" />
    <img src="/images/languages/rust.svg" alt="Typescript" title="Typescript" class="cv-logo" />
    <img src="/images/languages/typescript.svg" alt="Typescript" title="Typescript" class="cv-logo" />
    <img src="/images/languages/python.svg" alt="Typescript" title="Typescript" class="cv-logo" />
  </div>
</div>

<h3>Platforms</h3>

<div class="container mb-4">
  <div class="d-flex flex-row align-items-center justify-content-center gap-4">
      <img src="/images/platforms/angular.svg" alt="Angular" title="Angular" class="cv-logo"/>
      <img src="/images/platforms/azure.svg" alt="Microsoft Azure" title="Microsoft Azure"  class="cv-logo"/>
      <img src="/images/platforms/tux.svg" alt="Linux" title="Linux" class="cv-logo"/>
      <img src="/images/platforms/docker.webp" alt="Docker" title="Docker" class="cv-logo"/>
  </div>
</div>